ERP_BANK.Web/Web References/LogInService/AccountServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.esprit.tn/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AccountServiceService" targetNamespace="http://services.esprit.tn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://services.esprit.tn/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="SignIn" type="tns:SignIn" />
      <xs:element name="SignInResponse" type="tns:SignInResponse" />
      <xs:element name="SignOut" type="tns:SignOut" />
      <xs:element name="SignOutResponse" type="tns:SignOutResponse" />
      <xs:complexType name="SignOut">
        <xs:sequence>
          <xs:element minOccurs="0" name="login" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SignOutResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="isSignedOut" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SignIn">
        <xs:sequence>
          <xs:element minOccurs="0" name="login" type="xs:string" />
          <xs:element minOccurs="0" name="pwd" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SignInResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="isSignedIn" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SignOut">
    <wsdl:part name="parameters" element="tns:SignOut" />
  </wsdl:message>
  <wsdl:message name="SignOutResponse">
    <wsdl:part name="parameters" element="tns:SignOutResponse" />
  </wsdl:message>
  <wsdl:message name="SignInResponse">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="SignIn">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:portType name="AccountService">
    <wsdl:operation name="SignOut">
      <wsdl:input name="SignOut" message="tns:SignOut" />
      <wsdl:output name="SignOutResponse" message="tns:SignOutResponse" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input name="SignIn" message="tns:SignIn" />
      <wsdl:output name="SignInResponse" message="tns:SignInResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServiceServiceSoapBinding" type="tns:AccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignOut">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="SignOut">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SignOutResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="SignIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SignInResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountServiceService">
    <wsdl:port name="AccountServicePort" binding="tns:AccountServiceServiceSoapBinding">
      <soap:address location="http://localhost:18080/ERP_Bank/AccountService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>